* {
  font-weight: 100;
  padding: 0;
  margin: 0;
}

body {
  min-width: 280px;
  min-height: 100px;
}

section {
  padding: 15px;
  margin-bottom: 10px;
}

input {
  border: none;
  border-bottom: 2px solid; 
}

fieldset {
  border: none;
}

button {
  border: none;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button:active {
  /* opacity: 0.6; */
  animation-duration: 2s;
  animation-name: buttonActive;
}

@keyframes buttonActive {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  margin: 10px 0px;
}

h3 {
  font-size: 24px;
  margin: 10px 0px;
}

.textAlign-center {
  text-align: center;
}

ul {
  list-style-type: none;
}


/* BORDERS */
.rounded { border-radius: 5px; }
.border-s { border: 1px solid; }
.border-m { border: 2px solid; }
.border-l { border: 3px solid; }

/* PALETTE COLORS */
/* the same order (top -> bottom) than https://colorhunt.co/palette/2763 */
.background-hidden { background-color: transparent; } 
.background-primary { background-color: #222831; }
.background-secondary { background-color: #393e46; }
.background-contrast { background-color: #eeeeee; }
.background-alternate { background-color: #00adb5; }
.color-primary { color: #222831; }
.color-secondary { color: #393e46; }
.color-contrast { color: #eeeeee; }
.color-alternate { color: #00adb5; }
.borderColor-primary { border-color: #222831; }
.borderColor-secondary { border-color: #393e46; }
.borderColor-contrast { border-color: #eeeeee; }
.borderColor-alternate { border-color: #00adb5; }
.borderBottomColor-primary { border-bottom-color: #222831; }
.borderBottomColor-secondary { border-bottom-color: #393e46; }
.borderBottomColor-contrast { border-bottom-color: #eeeeee; }
.borderBottomColor-alternate { border-bottom-color: #00adb5; }

/* STATES */
.hover .show-in-hover { visibility: hidden; }
.hover:hover .show-in-hover { visibility: visible; }
.hover_background-secondary:hover { background-color: #393e46; }


/* FONTS */
.fontSize-xs { font-size: 12px; }
.fontSize-s { font-size: 16px; }
.fontSize-m { font-size: 18px; }
.fontSize-l { font-size: 20px; }
.fontSize-xl { font-size: 22px; }

/* SPACES */
.padding-xs { padding: 3px; }
.padding-s { padding: 8px; }
.padding-m { padding: 10px; }
.padding-l { padding: 12px; }
.padding-xl { padding: 15px; }
.paddingLeft-xs { padding-left: 3px; }
.paddingLeft-s { padding-left: 8px; }
.paddingLeft-m { padding-left: 10px; }
.paddingLeft-l { padding-left: 12px; }
.paddingLeft-xl { padding-left: 15px; }
.paddingLeftRight-xs { padding-right: 3px; padding-left: 3px; }
.paddingLeftRight-s { padding-right: 8px; padding-left: 8px; }
.paddingLeftRight-m { padding-right: 10px; padding-left: 10px; }
.paddingLeftRight-l { padding-right: 12px; padding-left: 12px; }
.paddingLeftRight-xl { padding-right: 15px; padding-left: 15px; }
.marginLeft-xs { margin-left: 3px; }
.marginLeft-s { margin-left: 8px; }
.marginLeft-m { margin-left: 10px; }
.marginLeft-l { margin-left: 12px; }
.marginLeft-xl { margin-left: 15px; }

/* GRID */
.grid { display: grid; }
.grid-template-col-2 { grid-template-columns: auto auto; }
.grid-col-gap-xs { grid-column-gap: 5px; }
.grid-col-gap-s { grid-column-gap: 8px; }
.grid-col-gap-m { grid-column-gap: 10px; }
.grid-col-gap-l { grid-column-gap: 12px; }
.grid-col-gap-xl { grid-column-gap: 15px; }
